h1 {
  color: white;
  width: auto;

  background-color: black;
  font-weight: bolder;
  font-size: 38px;
  border: blue solid;
  border-radius: 9px;
  padding: 3px;
  margin: 6px;
  text-align: center;
  text-shadow: 7px 7px 7px white;
  /*inset: -7px 7px 10px white;*/
}
h2 {
  color: white;
  width: auto;
  background-color: black;
  font-weight: bold;
  font-size: 34px;
  border: blue solid;
  padding: 3px;
  margin: 6px;
  text-align: center;
  border-radius: 9px;
  text-shadow: 7px 7px 7px white;
  /*inset: -7px 7px 10px white;*/
}
h1:hover {
  color: yellow;
}
h2:hover {
  color: yellow;
}

a {
  color: white;
  background-color: black;
  background-position: left;
  width: 300px;
  font-weight: bold;
  font-size: 22px;
  border: blue solid;
  padding: 2px;
  margin: 10px 1px;
  text-align: left;
  border-radius: 8px;
  box-shadow: -7px 7px 10px white;
}
a:hover {
  color: rgb(128, 247, 10);
}

.flavour {
  list-style: none;
  float: left;
}
li {
  margin: 14px;
}
img {
  float: right;
  width: 50%;
  padding: 25px;
  border-color: rgb(250, 8, 8);
  border-radius: 25px;
  margin-right: 150px;
  margin-top: 120px;
}

.last {
  clear: both;
  width: max-content;
  font-size: 34px;
  font-weight: bold;
  border: blue solid;
  padding: 8px;
  margin: 35px;
}
/*
.image {
  position: relative;
  animation-name: priyanshu;
  animation-duration: 8s;
  animation-iteration-count: 2;
}

@keyframes priyanshu {
    0%{
        <img>
    }
    25%{
        top: 250px;
        left: 0px;
    }
    75%{
        top: 250px;
        left: 250px;
    }
    100%{
        top: 0px;
        left: 250px;
    }
    
}*/