h1,
h2 {
  width: 143%;
  border: white 3px solid;
}
a {
  border: white 1px solid;
}

img {
  float: right;
  width: 55%;
  padding: 25px 25px;
  border-color: rgb(250, 8, 8);
  border-radius: 25px;
  margin-right: 130px;
  margin-top: 40px;
  display: none;
}

body {
  animation-name: priyanshu;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes priyanshu {
  0%,
  100% {
    /*background: url(cake_photos/display1.PNG);*/
    background-image: url(cake_photos/display1.PNG);
  }
  33% {
    /*background: url(cake_photos/display2.PNG);*/
    background-image: url(cake_photos/display2.PNG);
  }
  66% {
    /*background: url(cake_photos/display3.PNG);*/
    background-image: url(cake_photos/display3.PNG);
  }
}
